body {
    background-color:orange;
    font-family: "segoe Print" 
}

nav a {
    color: red;
}

#currentlink{ text-decoration:none;
    
}

.uppercase {
    text-transform: uppercase;
    font-size: 80px;
}

img{
   border: 0px #f0f0f0 dotted;
    padding-left:  500px;
    width:270px
        
}

h2 {
    padding-left: 490px;
}

h1 {
     border: 2px dotted black;
    padding-left:  540px;
}

    


